<div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p>Ha Long Bay, in the Gulf of Tonkin, includes some 1,600 islands and islets, forming a spectacular seascape of
      limestone pillars. Because of their precipitous nature, most of the islands are uninhabited and unaffected by a
      human presence. The site's outstanding scenic beauty is complemented by its great biological interest.
    </p>
  </div>
  
  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <% if(logged){ %>
          <div class="w3-display-bottomright w3-row" style="width: 100%">
              <a class="w3-half w3-button w3-blue">Edit</a>
              <a class="w3-half w3-button w3-red">Delete</a>
          </div>
          <% } %>
        <img src="images/products/hang-dau-go-2.jpg" alt="John" style="width:100%">
        <h3>HANG ĐẦU GỖ</h3>
        <p>Hang Đầu Gỗ rộng khoảng 5000m2, nằm trên độ cao 27m so với mực nước biển. Hang Đầu Gỗ: Giữa non nước mây trời
          vịnh Hạ Long tuyệt mỹ, một cái hang mang tên rất mộc mạc dân dã: Hang Đầu Gỗ.</p>
        <p><button class="w3-button w3-light-grey w3-block">More Details</button></p>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <% if(logged){ %>
          <div class="w3-display-bottomright w3-row" style="width: 100%">
              <a class="w3-half w3-button w3-blue">Edit</a>
              <a class="w3-half w3-button w3-red">Delete</a>
          </div>
          <% } %>
        <img src="images/products/Dao-Titop.jpg" alt="Jane" style="width:100%">
        <h3>Dao TiTop</h3>
        <p>Đảo Titop nằm trong vịnh Hạ Long, thuộc thành phố Hạ Long, tỉnh Quảng Ninh, cách cảng tàu du lịch Bãi Cháy
          khoảng 7 – 8 km về phía Đông Nam. Đảo Ti Tốp có bãi cát hình vành trăng lưỡi liềm. Cát ở đây bốn mùa được thủy
          triều rửa sạch trắng tinh. Hồi cuối thế kỷ 19, đảo có tên là Cát Nàng.</p>
        <p><button class="w3-button w3-light-grey w3-block">More Details</button></p>
      </div>
  
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <% if(logged){ %>
          <div class="w3-display-bottomright w3-row" style="width: 100%">
              <a class="w3-half w3-button w3-blue">Edit</a>
              <a class="w3-half w3-button w3-red">Delete</a>
          </div>
          <% } %>
        <img src="images/products/Hang-Luon.jpg" alt="Mike" style="width:100%">
        <h3>Hang Luon</h3>
        <p>Hang Luồn nằm trên đảo Bồ Hòn, cách Bãi Cháy 14 km về phía nam. Phía trước hang là hòn Con Rùa, bên phải là
          Cổng Trời. Nơi đây vách đá dựng đứng, bốn mùa nước trong xanh phẳng lặng như một tấm gương soi. Sát mép nước,
          một chiếc cổng hình cánh cung mở ra dưới chân đảo, đó là hang Luồn.</p>
        <p><button class="w3-button w3-light-grey w3-block">More Details</button></p>
      </div>
  
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <% if(logged){ %>
          <div class="w3-display-bottomright w3-row" style="width: 100%">
              <a class="w3-half w3-button w3-blue">Edit</a>
              <a class="w3-half w3-button w3-red">Delete</a>
          </div>
          <% } %>
        <img src="images/products/dong-thien-cung.jpg" alt="Dan" style="width:100%">
        <h3>Dong thien Cung</h3>
        <p>Động Thiên Cung nằm ở phía bắc đảo Đầu Gỗ, cách cảng tàu du lịch 4km về phía nam. Là một trong những hang động
          đẹp nhất trên vịnh Hạ Long nhờ diện tích hang rộng, có nhiều cấp nhiều ngăn với vô vàn thạch nhũ đá vôi, măng
          đá mang những hình thù kỳ lạ.
        </p>
        <p><button class="w3-button w3-light-grey w3-block">More Details</button></p>
      </div>
  
    </div>
  </div>