<div class="w3-container">
    <img src="images/vinhhalong.jpg" class="w3-image" style="width:100%" >
  </div>

<div class="w3-container p-4" id="contact">
    <h3 class="border-bottom border-light p-3">Contact</h3>
    <p>Lets get in touch for supporting.</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>
