<header class="w3-display-container w3-content w3-wide" style="max-width: 1500px;" id="home">
    <img class="w3-image" src="images/halongbay.jpg" alt="Header" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top">
        <h1 class="w3-xxlarge text-light">
            <span class="w3-padding text-light bg-dark"><b>HLB</b></span>
            <span class="w3-hide-small text-danger">Ha Long Bay</span>
        </h1>
    </div>
</header>