<div class="w3-container p-4" id="products">
    <h3 class="border-bottom border-light p-3">Places</h3>
</div>

<div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding">Hang Sang Toi</div>
            <img src="images/products/hang-sang-toi.jpg" alt="" style="width:100%">
        </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding">Nui Yen Tu</div>
            <img src="images/products/nui-yen-tu.jpg" alt="" style="width:100%">
        </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding">Hang Sung Sot</div>
            <img src="images/products/Hang-Sung-Sot.jpg" alt="" style="width:100%">
        </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding">Lang Chai Cua Van</div>
            <img src="images/products/lang-chai-cua-van.jpg" alt="" style="width:100%">
        </div>
    </div>
</div>