<div class="w3-top">
    <div class="container-fluid navbar navbar-light bg-light">
        <a href="#home" class="nav-item btn btn-light">
            <b>HLB </b>Ha Long Bay
        </a>
        <div class="float-right d-sm-none d-md-block">
            <a href="#products" class="nav-item btn btn-light">Places</a>
            <a href="#about" class="nav-item btn btn-light">About</a>
            <a href="#contact" class="nav-item btn btn-light">Contact</a>
            <a href="login" class="nav-item btn btn-light text-danger">Login</a>
        </div>
    </div>
</div>